<header class="container">
<nav class=" navbar navbar-toggleable-md navbar-light bg-faded row">
  <button class="navbar-toggler navbar-toggler-right bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "GoodFriend", "#", :class => 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto bg-inverse">
      <li class="nav-item active">
        <%= link_to '#', :class => 'nav-link bg-light' do %>
          Home<span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "User", users_path, :class => 'nav-link bg-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "Expense", expenses_path, :class => 'nav-link bg-light' %>
      </li>
    </ul>
  </div>
</nav>
</header>